body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #bdf2ff, #ffdafe);
}

.header {
    background:  #f4fdff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #33bbff;
}

.nav a:hover {
    text-decoration: underline;
    color: #c2a8d0;
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.search-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    margin: 30px auto; 
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    border-radius: 10px;
    width: 80%;
}

.studio-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.studio-logos img {
    height: 50px;
    border-radius: 50%;
}

.anime-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 150px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card p {
    font-size: 14px;
    margin-top: 5px;
}
